<meta charset="UTF-8">
<link rel='icon' href='https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png' type='image/png'/ >
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cleartype" content="on" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="false" />
<link rel="shortcut icon" href='https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png' type='image/png'/>
<meta name="description" content="OneStop Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=0.7" />
<meta property="og:site_name" content="OneStop Dashboard" />
<meta property="og:title" content="OneStop Dashboard" />
<meta property="og:image:url" content="https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png" />
<meta property="og:image:secure_url" content="https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />
<meta itemprop="name" content="OneStop Dashboard" />
<meta name="twitter:title" content="OneStop Dashboard">
<meta name="twitter:description" content="OneStop Dashboard">
<meta name="twitter:image" content="https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png">
<meta name="twitter:image:alt" content="OneStop Dashboard">
<meta name="twitter:card" content="summary_large_image">
<title>OneStop | Dynamic Search API</title>
<style>
   #resultsul {
   list-style: none;
   padding: 15px;
   margin: 25px 25px 25px 25px;
   }
</style>
<ul id="resultsul">
   {% for i in results %}
   <a href="/question/{{i['qncode']}}" style="color:black;">
      <li>
         <div>
            <h1>{{i['question'] | safe}} </h1>
         </div>
         <div>
            <h3>{{i['tags']}}</h3>
         </div>
      </li>
   </a>
   <br>
   {% endfor %}
</ul>