<meta charset="UTF-8">
<link rel='icon' href='https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png' type='image/png'/ >
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cleartype" content="on" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="false" />
<link rel="shortcut icon" href='https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png' type='image/png'/>
<meta name="description" content="OneStop Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=0.7" />
<meta property="og:site_name" content="OneStop Dashboard" />
<meta property="og:title" content="OneStop Dashboard" />
<meta property="og:image:url" content="https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png" />
<meta property="og:image:secure_url" content="https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />
<meta itemprop="name" content="OneStop Dashboard" />
<meta name="twitter:title" content="OneStop Dashboard">
<meta name="twitter:description" content="OneStop Dashboard">
<meta name="twitter:image" content="https://www.inventicons.com/uploads/iconset/352/wm/512/online-course-44.png">
<meta name="twitter:image:alt" content="OneStop Dashboard">
<meta name="twitter:card" content="summary_large_image">
<!DOCTYPE html>
<html>
   <head>
      <title>OneStop | {{question['question'] | safe}}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/userstyle.css') }}" type="text/css">
      <meta name="viewport" content="width=device-width">
      <script src="{{ url_for('static', filename='javascript/user.js') }}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/mholt/papaparse/papaparse.min.js"></script>
      <script src="javascript/signoutbutton.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   </head>
   <body>
      <div class="nav-btn">Menu</div>
      <div class="container">
      <div class="sidebar">
         <nav>
            <a>One<span>Stop</span><br>Forums</a>
            <ul>
               <li class="active"><a>{{name}}</a></li>
               <li><a href="/dashboard">Back to Resources</a></li>
            </ul>
         </nav>
      </div>
      <div class="main-content">
      <h1>OneStop | Forums</h1>
      <div class="panel-wrapper">
         <div class="panel-head">
            Question posted on {{question['date']}} by {{question['author']}}
         </div>
         <p>{{question['question'] | safe}}</p>
         <br>
         <p size="5%">Class {{question['author_class']}} | Subject {{question['subject']}}</p>
         <div class="panel-head" style="background-color: #e67e22;">
            Tags | {{question['tags']}}
         </div>
      </div>
      <br><br>
      {% for i in answers %}
      <div class="panel-wrapper">
         <div class="panel-head" style="background-color: #e67e22;">
            Answered by {{i['author']}}, a {{i['author_pos']}} from class {{i['author_class']}} on {{i['date']}}
         </div>
         {{i['answer'] | safe}}
      </div>
      <hr>
      {% endfor %}
      <br><br>
      <link rel='stylesheet' href='https://unpkg.com/react-quill@1.0.0/dist/quill.core.css'>
      <link rel='stylesheet' href='https://unpkg.com/react-quill@1.0.0/dist/quill.snow.css'>
      <style>
         body {
         background: #f3f1f2;
         font-family: sans-serif;
         }
         .app {
         margin: 1rem 4rem;
         }
         .app .ql-container {
         border-bottom-left-radius: 0.5em;
         border-bottom-right-radius: 0.5em;
         background: #fefcfc;
         }
         .app .ql-editor {
         min-height: 18em;
         }
      </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
         $(document).ready(function(){
         $("#theform").on("submit", function () {
           var hvalue = $('.ql-editor').html();
           $(this).append("<textarea name='content' style='display:none'>"+hvalue+"</textarea>");
          });
         });
      </script>
      <form action="/forum/answer/{{qncode}}" method="POST" id="theform">
         <div class="app"></div>
         <button action="submit" align="right">Post</button>
      </form>
      <script src='https://unpkg.com/react@latest/umd/react.development.js'></script>
      <script src='https://unpkg.com/react-dom@latest/umd/react-dom.development.js'></script>
      <script src='https://unpkg.com/prop-types/prop-types.js'></script>
      <script src='https://unpkg.com/react-quill@latest/dist/react-quill.js'></script>
      <script>
         class Editor extends React.Component {
           constructor(props) {
             super(props);
             this.state = { editorHtml: '', theme: 'snow' };
             this.handleChange = this.handleChange.bind(this);
           }
         
           handleChange(html) {
             this.setState({ editorHtml: html });
           }
         
           handleThemeChange(newTheme) {
             if (newTheme === "core") newTheme = null;
             this.setState({ theme: newTheme });
           }
         
           render() {
             return (
               React.createElement("div", null,
               React.createElement(ReactQuill, {
                 theme: this.state.theme,
                 onChange: this.handleChange,
                 value: this.state.editorHtml,
                 modules: Editor.modules,
                 formats: Editor.formats,
                 bounds: '.app',
                 placeholder: this.props.placeholder }),
         
               React.createElement("div", { className: "themeSwitcher" },
         )));
         
         
         
         
           }}
         
         Editor.modules = {
           toolbar: [
           [{ 'header': '1' }, { 'header': '2' }, { 'font': [] }],
           [{ size: [] }],
           ['bold', 'italic', 'underline', 'strike', 'blockquote'],
           [{ 'list': 'ordered' }, { 'list': 'bullet' },
           { 'indent': '-1' }, { 'indent': '+1' }],
           ['link', 'image', 'video'],
           ['clean']],
         
           clipboard: {
             matchVisual: false } };
         Editor.formats = [
         'header', 'font', 'size',
         'bold', 'italic', 'underline', 'strike', 'blockquote',
         'list', 'bullet', 'indent',
         'link', 'image', 'video'];
         Editor.propTypes = {
           placeholder: PropTypes.string };
         ReactDOM.render(
         React.createElement(Editor, { placeholder: 'Write something...' }),
         document.querySelector('.app'));
      </script>
   </body>
</html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>